.mat-form-field {
    margin-right: 15px;
    width: calc(25% - 11px);
}

.full {
    margin-right: 0px; 
    width: 100%;
}

textarea {
    height: 60px;
}


::ng-deep .cdk-overlay-pane { max-width: 90vw !important; max-height: 90vh; }
::ng-deep .cdk-overlay-pane .mat-dialog-container{
  max-width: 90vw;
  max-height: 90vh;
}
::ng-deep .cdk-overlay-pane .mat-dialog-container .mat-dialog-content { max-height: 100%; }