.mat-column-actions
{
    white-space: unset !important;
    text-align: center;
    width: 10% !important;
}

.mat-column-checklistDescription
{
    white-space: unset !important;
    width: 30% !important;
}

.mat-column-checklistChecklistTypeName
{
    white-space: unset !important;
    width: 40% !important;
}

.mat-column-creationDate
{
    white-space: unset !important;
    width: 20% !important;
}