.mat-column-actions
{
    white-space: unset !important;
    text-align: center;
    width: 10% !important;
}

.mat-column-name
{
    white-space: unset !important;
    width: 80% !important;
}

.mat-column-isActive
 {
    white-space: unset !important;
    width: 10% !important;
}