.mat-icon {
    font-size: 100px;
    opacity: 0.6;
}

span {
    font-size: 32px;
    color: #007e7a;
}

.mat-card {
    color: #007e7a;
}

.mat-card {
    cursor: pointer;
}

.firstColumn {
    margin-left: 10px;
}
.secondColumn{
    margin-right: 10px;
}
.firstColumn, .secondColumn{
    margin-bottom: 20px;
}