.mat-column-actions
{
    white-space: unset !important;
    text-align: center;
    width: 15% !important;
}

.mat-column-description
{
    white-space: unset !important;
    width: 30% !important;
}

.mat-column-checklistTypeName
{
    white-space: unset !important;
    width: 45% !important;
}

.mat-column-isActive
 {
    white-space: unset !important;
    width: 10% !important;
}