<div class="loading-container" *ngIf="loading">
    <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list [navigation]="navigation" (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="mat-elevation-z3" style="z-index: 2;">
            <app-header [navigation]="navigation" (sidenavToggle)="sidenav.toggle()" [title]="title"></app-header>
        </div>
        <main>
            <router-outlet></router-outlet>
        </main>
        <app-footer [isOnline]="isOnline"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>