mat-toolbar {
    height: 45px;
    font-size: 13px !important;
}

.mat-toolbar p {
    margin: 0;
}

.pull-left{float:left; width: 50%;}
.pull-right{float:right; width: 50%; text-align: right;}

.online {color: green;}
.offline {color: red;}