<div class="table-container">
    <span class="caption">{{caption}}</span>
    <div class="table-wrapper">
        <table mat-table matSort (matSortChange)="onSortData($event)" [dataSource]="dataSource">
            <ng-container *ngFor="let col of tableCols; let i = index" [matColumnDef]="col.key" [sticky]="col.columnSettings?.sticky ? true : false ">
                <th mat-header-cell *matHeaderCellDef
                    [mat-sort-header]=" col.columnSettings?.isSorteable ? col.key : null "
                    [disabled]=" col.columnSettings?.isSorteable ? false : true "
                    [style]="col.columnSettings?.style"
                    [class]="col.columnSettings?.class"
                    >
                    {{ tableCols[i]["display"] }}
                </th>
                <td mat-cell *matCellDef="let element" 
                    [style]="col.columnSettings?.style"
                    [class]="class(element, col)"
                    [title]="col.columnSettings?.showTooltip ? element[col.key] : ''">
                    <ng-container *ngIf="!col.valueSettings; else hasValueSettings">
                        {{element[col.key]}}
                    </ng-container>
                    <ng-template #hasValueSettings>
                        <ng-container *ngIf="col.valueSettings.isBoolean">
                            {{ showBooleanValue(element, col) }}
                        </ng-container>
                        <ng-container *ngIf="col.valueSettings.isDate">
                            {{ element[col.key] | date: col.valueSettings.format }}
                        </ng-container>
                        <ng-container *ngIf="col.valueSettings.isPercent">
                            {{ element[col.key] | number: col.valueSettings.format ? col.valueSettings.format : '1.1-2' }} %
                        </ng-container>
                        <ng-container
                            *ngIf="col.valueSettings.isAction && col.valueSettings.isMatIconButton; else isMatButton">
                            <button mat-icon-button *ngFor="let action of col.valueSettings.actions"
                                [title]="action.title" (click)="onClick(element, action)">
                                <mat-icon class="material-icons-outlined">{{action.icon}}</mat-icon>
                            </button>
                        </ng-container>
                        <ng-template #isMatButton>
                            <button mat-button *ngFor="let action of col.valueSettings.actions" [title]="action.title"
                                (click)="onClick(element, action)">
                                <mat-icon>{{action.icon}}</mat-icon>
                                {{action.name}}
                            </button>
                        </ng-template>
                    </ng-template>
                </td>
            </ng-container>
            <ng-container matColumnDef="noData">
                <td mat-footer-cell *matFooterCellDef [attr.colspan]="noDataColspan">
                    Nenhum registro encontrado.
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="keys"></tr>
            <tr mat-row *matRowDef="let row; columns: keys"></tr>
            <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':dataSource.length!=0}"></tr>
        </table>
        <mat-paginator #matPaginator [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex"
            [pageSizeOptions]="[5, 10, 20, 30]" (page)="onPageChanged($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>